.brand {
    width: 100%;
    padding: 0;

    .brand_section {
        font-size: 22px;
        word-break: keep-all;
        padding: 60px 0;

        .brand_title_wrap {
            position: relative;

            .brand_title {
                font-size: 54px;
                font-weight: 800;
                text-align: center;
                margin-bottom: 0.6em;
            }
        }
        .full_inner {
            text-align: center;

            .brand_img {
                margin: 35px 0;
                text-align: center;

                &:first-child {
                    margin-top: 0;
                }

                img {
                    max-width: 100%;
                }
            }
        }
        .layout_inner {
            max-width: 1200px;
            margin: 0 auto;

            .brand_column_wrap {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                /*padding: 30px 0;*/

                .brand_column {
                    padding: 0 15px;
                    margin: 20px 0;
                    box-sizing: border-box;
                    .brand_img {
                        img {
                        }
                    }

                    .brand_sub_tit {
                        text-align: center;
                        font-size: 32px;
                        font-weight: 800;
                        margin-bottom: 0.7em;
                    }
                    p {
                    }
                }
                .column_1 {
                }
                .column_2 {
                }
                .column_3 {
                }
            }
            .brand_column_wrap_3 {
            }
        }
    }
    .brand_section_01 {
    }
    .brand_section_02 {
    }
    .brand_section_03 {
    }
}
