// sub_content부분
.promotion {
    .sub_content {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        padding: 45px 0 0 0;

        .content {
            width: 100%;
            min-height: 500px;
            padding: 0;

            .addition_zone {
            }
            .board_zone_sec {
                .board_zone_tit {
                }
                .board_hot_list {
                    .on {
                    }
                    .dn {
                    }
                }
                .board_zone_cont {
                    .board_zone_list {
                        .board_list_event {
                            .event_list {
                                .event_cont {
                                    .board_img {
                                        .js_image_load {
                                        }
                                    }
                                    .event_info_cont {
                                        .board_tit {
                                            .dn {
                                            }
                                            .dn {
                                            }
                                        }
                                        .board_event_day {
                                        }
                                        .board_likeit_hits,
                                        .dn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
